alg is not required per RFC 7517

https://github.com/mariusespejo/jwks-ecdsa/blob/879d7205c2bae03f6068f460ffe8880749326129/src/jwksClient.js#L27

jwksClient requires 'alg' to be specified, but per RFC 7517 section 4.4 (https://tools.ietf.org/html/rfc7517#section-4.4):

> ... The "alg" value is a case-sensitive ASCII string.  _Use of this member is OPTIONAL._